body{
    background-image: url(banner\ stillus.png);
    background-size: 100%;
    background-attachment: fixed;
}


h1{
    text-align: center;
    font-size: 3em;
}


iframe{
    border: 2px solid red;
    width: 100%;
    height: 500px;
}